#paperPlane{
    animation: planeScaling 0.6s 0.8s forwards cubic-bezier(0.18, 0.89, 0.37, 1.19);
}

@keyframes planeScaling {
    0% {
        transform: translate(0px, 0px);
    }
    
    100% {
        transform: translate(-200px, -200px) scale(1.6);
        transform-origin: center;
    }
}